@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  scroll-behavior: smooth;

  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg_for_img {
  background-image: url("/images/img.jpg");
  background-position: top;
  background-size: cover;
}

.service {
  background: conic-gradient(at 62.5% 12.5%, #191919 25%, #0000 0)
      calc(71px / -8) calc(71px / 2),
    conic-gradient(at 62.5% 12.5%, #191919 25%, #0000 0) calc(-3 * 71px / 8)
      calc(71px / 4),
    conic-gradient(at 87.5% 62.5%, #191919 25%, #0000 0) calc(3 * 71px / 8)
      calc(71px / 4),
    conic-gradient(at 87.5% 62.5%, #191919 25%, #0000 0) calc(71px / -8) 0,
    conic-gradient(at 25% 12.5%, #191919 25%, #0000 0) 0 calc(71px / -4),
    conic-gradient(at 25% 12.5%, #191919 25%, #0000 0) calc(71px / -4) 0,
    conic-gradient(at 87.5% 87.5%, #191919 25%, #0000 0) calc(71px / 8) 0
      rgba(71, 212, 255, 0);
  background-size: 71px 71px;
}

.bg_line {
  background-image: url("/images/line.png");
  background-size: cover;
  background-position: center;
}
.bg_line2 {
  background-image: url("/images/line3.png");
  background-size: cover;
  background-position: center;
}
.bg_line3 {
  background-image: url("/images/line2.png");
  background-size: cover;
  background-position: center;
}

.active_link {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  animation-duration: 0.5s;
}

.active_link::after {
  content: "";
  position: absolute;
  bottom: -4;
  height: 2;
  width: 34;
  border-radius: 10;
  background: white;
  display: block;
}
